<?xml version="1.0"?>
<config>
    <modules>
        <Saksham_Eavmgmt>    
            <version>1.0.0</version>
        </Saksham_Eavmgmt>
    </modules>
    <frontend>
        <routers>
          <Eavmgmt>
                <use>standard</use>
                <args>
                    <module>Saksham_Eavmgmt</module>
                    <frontName>eavmgmt</frontName>
                </args>
            </Eavmgmt>
        </routers>
        <layout>
            <updates>
                <Eavmgmt module="Saksham_Eavmgmt">
                    <file>Saksham_Eavmgmt.xml</file>
                </Eavmgmt>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <eavmgmt>
                <class>Saksham_Eavmgmt_Model</class>
                <resourceModel>eavmgmt_resource</resourceModel>
            </eavmgmt>
            <eavmgmt_resource>
                <class>Saksham_Eavmgmt_Model_Resource</class>
                <deprecatedNode>eavmgmt_mysql4</deprecatedNode>
                <entities>
                    <eavmgmt>
                        <table>eav_attribute</table>
                    </eavmgmt>
                </entities>
            </eavmgmt_resource>
        </models>
        <blocks>
            <eavmgmt>
                <class>Saksham_Eavmgmt_Block</class>
            </eavmgmt>
        </blocks>
        <helpers>
           <eavmgmt>
                  <class>Saksham_Eavmgmt_Helper</class>
            </eavmgmt>
        </helpers>
    </global>
    <admin>
        <routers>
            <eavmgmt>
                <use>admin</use>
                <args>
                    <module>Saksham_Eavmgmt</module>
                    <frontName>eavmgmt</frontName>
                </args>
            </eavmgmt>
        </routers>
    </admin>
</config>
