<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Saksham_Saksham>
			<version>0.0.3</version>
		</Saksham_Saksham>
	</modules>
	<global>
		<blocks>
			<saksham>
				<class>Saksham_Saksham_Block</class>
			</saksham>
		</blocks>
		<helpers>
			<saksham>
				<class>Saksham_Saksham_Helper</class>
			</saksham>
		</helpers>
		<models>
			<saksham>
				<class>Saksham_Saksham_Model</class>
				<resourceModel>saksham_resource</resourceModel>
			</saksham>
			<saksham_resource>
				<class>Saksham_Saksham_Model_Resource</class>
				<entities>
	                <saksham>
	                    <table>saksham</table>
	                </saksham>
	                <saksham_datetime>
	                	<table>saksham_datetime</table>
		            </saksham_datetime>
		            <saksham_decimal>
		                <table>saksham_decimal</table>
		            </saksham_decimal>
		            <saksham_int>
		                <table>saksham_int</table>
		            </saksham_int>
		            <saksham_text>
		                <table>saksham_text</table>
		            </saksham_text>
		            <saksham_varchar>
		                <table>saksham_varchar</table>
		            </saksham_varchar>
		            <saksham_char>
		                <table>saksham_char</table>
		            </saksham_char>
		            <eav_attribute>
                        <table>saksham_eav_attribute</table>
                    </eav_attribute>
		        </entities>
			</saksham_resource>
		</models>
		<resources>
			<saksham_setup>
				<setup>
					<module>Saksham_Saksham</module>
					<class>Saksham_Saksham_Model_Resource_Setup</class>
				</setup>
			</saksham_setup>
		</resources>
	</global>
	<adminhtml>
		<menu>
			<saksham>
				<title>Saksham</title>
				<sort_order>120</sort_order>
				<children>
					<saksham>
						<title>Manage</title>
						<sort_order>100</sort_order>
						<action>saksham/Adminhtml_Saksham</action>
					</saksham>
					<saksham_attribute>
						<title>Manage Attribute</title>
						<sort_order>100</sort_order>
						<action>saksham/Adminhtml_Saksham_Attribute</action>
					</saksham_attribute>
					<saksham_set>
						<title>Manage Attribute set</title>
						<sort_order>100</sort_order>
						<action>saksham/Adminhtml_Saksham_Set</action>
					</saksham_set>
				</children>
			</saksham>
		</menu>
		<layout>
			<updates>
				<saksham>
					<file>saksham.xml</file>
				</saksham>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<saksham>
				<use>admin</use>
				<args>
					<module>Saksham_Saksham</module>
					<frontName>saksham</frontName>
				</args>
			</saksham>
		</routers>
	</admin>
</config>