<?xml version="1.0"?>
<config>
    <modules>
        <Saksham_Saksham>
            <version>0.3.0</version>
        </Saksham_Saksham>
    </modules>    
    <global>
        <resources>
            <saksham_setup>
                <setup>
                    <module>Saksham_Saksham</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </saksham_setup>
            <saksham_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </saksham_write>
            <saksham_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </saksham_read>
        </resources>
        <models>
            <saksham>
                <class>Saksham_Saksham_Model</class>
                <resourceModel>saksham_resource</resourceModel>
            </saksham>
            <saksham_resource>
                <class>Saksham_Saksham_Model_Resource</class>
                <deprecatedNode>saksham_mysql4</deprecatedNode>
                <entities>
                    <saksham>
                        <table>saksham</table>
                    </saksham>
                    <saksham_attribute>
                        <table>eav_attribute</table>
                    </saksham_attribute>
                </entities>
            </saksham_resource>
        </models>
        <blocks>
            <saksham>
                <class>Saksham_Saksham_Block</class>
            </saksham>
        </blocks>
        <helpers>
            <saksham>
                <class>Saksham_Saksham_Helper</class>
            </saksham>
        </helpers>
    </global>
    <admin>
        <routers>
            <saksham>
                <use>admin</use>
                <args>
                    <module>Saksham_Saksham</module>
                    <frontName>saksham</frontName>
                </args>
            </saksham>
        </routers>
        <layout>
            <updates>
                <saksham>
                    <file>saksham.xml</file>
                </saksham>
            </updates>
        </layout>
    </admin>
</config>