<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Saksham_Eavmgmt>
			<version>0.0.3</version>
		</Saksham_Eavmgmt>
	</modules>
	<global>
		<blocks>
			<eavmgmt>
				<class>Saksham_Eavmgmt_Block</class>
			</eavmgmt>
		</blocks>
		<helpers>
			<eavmgmt>
				<class>Saksham_Eavmgmt_Helper</class>
			</eavmgmt>
		</helpers>
		<models>
			<eavmgmt>
				<class>Saksham_Eavmgmt_Model</class>
				<resourceModel>eavmgmt_resource</resourceModel>
			</eavmgmt>
			<eavmgmt_resource>
				<class>Saksham_Eavmgmt_Model_Resource</class>
				<entities>
	                <eavmgmt>
	                    <table>eavmgmt</table>
	                </eavmgmt>
	                <eavmgmt_datetime>
	                	<table>eavmgmt_datetime</table>
		            </eavmgmt_datetime>
		            <eavmgmt_decimal>
		                <table>eavmgmt_decimal</table>
		            </eavmgmt_decimal>
		            <eavmgmt_int>
		                <table>eavmgmt_int</table>
		            </eavmgmt_int>
		            <eavmgmt_text>
		                <table>eavmgmt_text</table>
		            </eavmgmt_text>
		            <eavmgmt_varchar>
		                <table>eavmgmt_varchar</table>
		            </eavmgmt_varchar>
		            <eavmgmt_char>
		                <table>eavmgmt_char</table>
		            </eavmgmt_char>
		            <eav_attribute>
                        <table>eavmgmt_eav_attribute</table>
                    </eav_attribute>
		        </entities>
			</eavmgmt_resource>
		</models>
		<resources>
			<eavmgmt_setup>
				<setup>
					<module>Saksham_Eavmgmt</module>
					<class>Saksham_Eavmgmt_Model_Resource_Setup</class>
				</setup>
			</eavmgmt_setup>
		</resources>
	</global>
	<adminhtml>
		<menu>
			<eavmgmt>
				<title>Eavmgmt</title>
				<sort_order>140</sort_order>
				<children>
					<eavmgmt>
						<title>Manage Eavmgmt</title>
						<sort_order>100</sort_order>
						<action>eavmgmt/Adminhtml_Eavmgmt</action>
					</eavmgmt>
					<eavmgmt_attribute>
						<title>Manage Attribute</title>
						<sort_order>100</sort_order>
						<action>eavmgmt/Adminhtml_Eavmgmt_Attribute</action>
					</eavmgmt_attribute>
					<eavmgmt_set>
						<title>Manage Attribute set</title>
						<sort_order>100</sort_order>
						<action>eavmgmt/Adminhtml_Eavmgmt_Set</action>
					</eavmgmt_set>
				</children>
			</eavmgmt>
		</menu>
		<layout>
			<updates>
				<eavmgmt>
					<file>eavmgmt.xml</file>
				</eavmgmt>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<eavmgmt>
				<use>admin</use>
				<args>
					<module>Saksham_Eavmgmt</module>
					<frontName>eavmgmt</frontName>
				</args>
			</eavmgmt>
		</routers>
	</admin>
</config>