<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Salesman>
            <version>0.3.0</version>
        </Ccc_Salesman>
    </modules>    
    <global>
        <events>
           <salesman_save>
                <observers>
                   <salesman_observer>
                       <type>singleton</type>
                       <class>Ccc_Salesman_Model_Observer</class>
                       <method>saveSalesmanObserve</method>
                    </salesman_observer>
                </observers>
            </salesman_save>
        </events>
        <resources>
            <salesman_setup>
                <setup>
                    <module>Ccc_Salesman</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salesman_setup>
            <salesman_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salesman_write>
            <salesman_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salesman_read>
        </resources>
        <models>
            <salesman>
                <class>Ccc_Salesman_Model</class>
                <resourceModel>salesman_resource</resourceModel>
            </salesman>
            <salesman_resource>
                <class>Ccc_Salesman_Model_Resource</class>
                <deprecatedNode>salesman_mysql4</deprecatedNode>
                <entities>
                    <salesman>
                        <table>salesman</table>
                    </salesman>
                    <salesman_address>
                        <table>salesman_address</table>
                    </salesman_address>
                    <salesman_price>
                        <table>salesman_price</table>
                    </salesman_price>
                </entities>
            </salesman_resource>
        </models>
        <blocks>
            <salesman>
                <class>Ccc_Salesman_Block</class>
                <!-- <rewrite>
                    <adminhtml_salesman_grid>Ccc_Product_Block_Adminhtml_Product_Grid</adminhtml_salesman_grid>
                </rewrite> -->
            </salesman>
            <!-- <adminhtml>
                <rewrite>
                    <catalog_product_grid>Ccc_Salesman_Block_Adminhtml_Salesman_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml> -->
        </blocks>
        <helpers>
            <salesman>
                <class>Ccc_Salesman_Helper</class>
                <!-- <rewrite>
                    <data>Ccc_Salesman_Helper_NewData</data>
                </rewrite> -->
            </salesman>
        </helpers>
    </global>
    <admin>
        <routers>
            <salesman>
                <use>admin</use>
                <args>
                    <frontName>salesman</frontName>
                    <modules>
                        <ccc_salesman before="Ccc_Product">Ccc_Salesman</ccc_salesman>
                    </modules>
                </args>
            </salesman>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_salesman before="Mage_Adminhtml_Catalog">Ccc_Salesman_Adminhtml</ccc_salesman>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <layout>
            <updates>
                <salesman>
                    <file>salesman.xml</file>
                </salesman>
            </updates>
        </layout>
    </admin>
</config>